#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  /* background-color: #f0f0f0; */
  /* max-width: 50%; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.App table th, .App table td {
  border: 1px solid #1F2041;
  padding: 12px;
}

.App table th {
  background-color: #333;
  color: white;
}

.App table tr:nth-child(even) {
  background-color: #4B3F72;
}

.App h1 {
  color: #9A90C8;
  margin-bottom: 0;
}

.App p {
  margin-top: 0;
  color: white;
  font-size: 1.2em;
}

.App input {
  background-color: #333;
  color: white;
  border: 1px solid #1F2041;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 30px;
}

